.icon-status-indisponivel {
    color: red;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-status-disponivel {
    color: green;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.item-radiogroup {
    flex:1;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.filtro-data {
    align-items: center;
    justify-content: center;
}

.label-radiogroup {
    padding-left: 5px;
}

.icon-status-semstatus {
    color: transparent !important;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-status-instavel {
    color: yellow;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-filter {
    max-width: 100%;
}
.container-table {
    background-color: green !important;
}

.container-filtros {
   width: 100%;
}

.container-tipos-filtros {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.label-filtro {
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex:1;
    padding-left: 20px;
}

body .ui-table .ui-table-caption {
   display: flex;
   flex-direction: row;
  align-items: flex-start;
}

body .ui-table .ui-table-thead > tr > th {
 background-color: orange !important;
}
.ui-panel .ui-panel-titlebar {}
/* Column Priorities */
@media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}